.list {
  display: flex;
  justify-content: space-between;
  width: 516px;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.title {
  margin: 0;
}

.name {
  text-align: center;
}